/* Universal section */
html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    top: 58px;
    margin: 50px 0;
    background-color: rgb(207, 218, 227);
}

/* Header Section*/

.nav-link {
    color: white;
}

#title {
    font-size:  3rem;
    padding-left: 3rem;
}

@media only screen and (max-width: 620px) {
   #title {
      font-size: 1.5rem;
   }
}



/* body section */

.welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 100px;
    text-align: center;
}
 .welcome h1 {
    font-size: 8vh;
 }

 .welcome h3 {
    margin: 50px 50px;
    text-align: center;
 }

 .classSelector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 }

 .row {
   margin: 0 auto;
   justify-content: center;
 }

 .select {
   width: 100%;
   text-align: center;
   font-size: 7vh;
 }
 .card {
    width: 400px;
    border: 10px solid white;
    margin:50px 25px;
    box-shadow: 5px 10px 10px black ;
   
 }

 .card:hover {
   transform: scale(1.1, 1.15);
   z-index: 100;
 }


 .card img {
    height: 250px;
 }

 /* classes section */

 